.sidebar {
  flex: 0.2;

  margin-top: 5px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;

  padding-right: 30px;
  mix-blend-mode: normal;

  width: fit-content;
  height: fit-content;
}
.image {
  max-width: 200px;
  max-height: 300px;
  border-radius: 30px;
}
.newss {
  justify-content: center;

  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;

  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  align-items: center;
  text-align: center;
}
.headline {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
