.profile {
  min-height: 540px;
  display: grid;
}
.display-edit {
  display: flex;
  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 20px;
}

.edit-profile {
  flex: 0.1;
  margin-top: 20px;
  margin-right: 20px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: fit-content;
  padding: 15px;
  border-radius: 20px;
}
.myopnions {
  display: flex;
  justify-content: center;
  flex: 0.98;
}
.idk2 {
  max-width: 70%;
  display: grid;
  flex: 0.7;
}
.main-content2 {
  padding-top: 25px;

  justify-content: space-between;

  border-radius: 10px;

  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.all-contents2 {
  display: flex;
  padding-top: 25px;

  justify-content: space-between;
}
.image-text2 {
}
.content-image2 {
  max-width: 250px;
  max-height: 250px;
  padding-left: 5px;
  border-radius: 10px;
  height: fit-content;
}
.para2 {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  word-break: break-all;
  line-break: strict;
}
.userName2 {
  color: #ebe7e7;
  font-family: "Inter";
  font-style: normal;
  font-weight: 60;
  margin-left: 10px;
}
.avatar-name2 {
  display: flex;
  align-items: center;
}
.profile-post-delete {
  margin-top: 10px;
  background: rgba(20, 20, 21, 0.25);
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;
}
.profile-post-delete:hover {
  box-shadow: none;
}
.post-manage {
  text-align: center;
  padding: 10px;
  color: black;
}
@media screen and (max-width: 600px) {
  .display-edit {
    display: grid;
  }
}
@media screen and (max-width: 600px) {
  .profile {
    margin: auto;
    justify-items: center;

    padding: -10px;
  }
  .display-edit {
    padding: 0px;
  }
  .main-area {
    padding: 10px;
  }
  .main-content2 {
    padding: none;
    display: grid;
  }
  .all-contents2 {
    display: grid;
    justify-items: center;
  }
  .para2 {
    order: 2;
    margin: 10px;
    padding: 20px;
    width: 80%;
    background: rgba(20, 20, 21, 0.25);
    border-radius: 10px;
  }
  .content-image2 {
    order: 1;
    width: 100%;
  }
  .edit-profile {
    text-align: center;

    margin: auto;
    margin-bottom: 10px;
  }
}
