.navbar{
/* position: sticky; */
top: 0;
z-index: 999;
width: 100%;
justify-content: space-evenly;
display: flex;
padding-bottom: 15px;
padding-top: 15px;
/* background: linear-gradient(180deg, rgba(121, 120, 121, 0.384) 3.81%, rgba(43, 43, 43, 0.144) 23.85%, rgba(15, 15, 15, 0.196) 37.88%), linear-gradient(360deg, rgba(100, 99, 101, 0.6) -3.27%, rgba(93, 92, 94, 0.6) 1.27%); */
/* background: linear-gradient(180deg, rgba(46, 46, 46, 0.384) 3.81%, rgba(43, 43, 43, 0.144) 23.85%, rgba(15, 15, 15, 0.196) 37.88%), linear-gradient(360deg, rgba(92, 92, 92, 0.6) -3.27%, rgba(93, 92, 94, 0.6) 1.27%); */
/* overflow-x:auto; */
/* background-color: rgb(195, 226, 220); */
/* background-color: rgba(255, 255, 255, 0.24); */
/* background-color: rgba(255, 255, 255, 0.151); */
}
/* .navbar::{
} */
.home{
    color: #FFFFFF;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
padding-top:15px ;
  padding-left:15px;
  padding-bottom:15px;
  padding-right:15px;
  
}
.foot{
    color: #FFFFFF;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
padding-top:15px ;
  padding-left:15px;
  padding-bottom:15px;
  padding-right:15px;
}
.news{
    color: #FFFFFF;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
padding-top:15px ;
  padding-left:15px;
  padding-bottom:15px;
  padding-right:15px;
}
.home:after{
  color: rgb(238, 232, 232);

}
.foot:hover{
  color: rgb(238, 232, 232);
}
.news:hover{
  color: rgb(238, 232, 232);
}


.navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}