.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* width: 100%; */

  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.Logo-div {
  width: 100%;
  margin-left: 25px;
  display: inline;
  justify-content: center;
}
.Logo-football {
  color: #ffffff;
  font-weight: 1000;
  font-size: 40px;
}
.Logo-social {
  margin-left: 5px;
  font-weight: 1000;
  color: black;
}
.hide {
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.home {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.foot {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.news {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.logins {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.profile-link {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.home:after {
  color: rgb(238, 232, 232);
}
.foot:hover {
  color: rgb(238, 232, 232);
}
.news:hover {
  color: rgb(238, 232, 232);
}
.profile-link:hover {
  color: rgb(238, 232, 232);
}
.logout {
  width: 65px;
  height: 30px;
  border-radius: 6px;
  font-size: large;
  color: white;
  background-color: rgba(193, 119, 207, 0.322);

  border: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: grid;
    text-align: center;
    justify-items: center;

    width: 100%;
  }
  .Logo-div {
    display: grid;
    text-align: center;
    justify-items: center;
  }
  .hide {
    display: grid;
    text-align: center;
    justify-items: center;
  }
  .home {
    padding-bottom: 10px;
  }
  .foot {
    padding-bottom: 10px;
  }
  .news {
    padding-bottom: 10px;
  }
  .logout {
    margin-bottom: 10px;
  }
}
