.profile-details {
  display: flex;
  justify-content: space-between;
  /* position: sticky; */
  top: 0;
  flex: 0.98;
  margin: 20px;
  border-radius: 10px;

  min-height: 300px;

  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  z-index: -1;
}
.profile-div1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
}
.profile-image {
  padding: 20px;
  max-height: 250px;
  max-width: 250px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.profile-email {
  margin-right: 50px;
  margin-top: 20px;
  color: white;
  color: black;
}
.profile-name {
  color: white;
  margin-right: 50px;
  margin-top: 20px;
}
.idkkk {
  margin-right: 50px;
  margin-top: 20px;
}
a {
  color: white;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .profile-details {
    justify-items: center;
    display: grid;
    /* margin: auto; */
  }
  .profile-div1 {
    text-align: center;
    font-size: xx-small;
    display: grid;
  }
  .profile-image {
    height: 200px;
    width: 200px;
  }
}
