.ip > form {
  display: flex;
  width: 100%;
}
.ip > textarea {
  border: none;
  flex: 1;
  outline-width: 0;
  font-weight: 600;
  background-color: rgb(208, 200, 219);
  resize: none;
}

.ip {
  margin-top: 20px;
  justify-content: space-evenly;
  display: flex;
  background-color: rgb(208, 200, 219);
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.ip2 {
  display: flex;
}
.ip2 > input {
  border-radius: 5px;
  border: none;
  background-color: rgb(152, 138, 172);
  outline-width: 0;
  font-weight: 600;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.photo {
  margin-left: 5px;
}
.submit {
  /* display: none; */
  margin-top: 10px;
  background: rgba(20, 20, 21, 0.25);
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;
  font-size: medium;
  color: #ffffff;
}
.submit:hover {
  box-shadow: none;
}
.post {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 50px;
  color: white;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  height: fit-content;

  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.main-area {
  flex: 0.6;
  max-width: 900px;
}

/* *************************************** user post section**************************  */
.main-content {
  padding-top: 25px;

  justify-content: space-between;

  border-radius: 10px;
  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.all-contents {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}

.content-image {
  max-width: 250px;
  max-height: 250px;
  padding-left: 5px;
  border-radius: 10px;
  height: fit-content;
}
.para {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  word-break: break-all;
  line-break: auto;
}
.userName {
  color: #201f1f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 60;
  font-size: medium;
  margin-left: 10px;
}
.avatar-name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.avatar_dp {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .post {
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 15px;

    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: fit-content;

    background: rgba(20, 20, 21, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  .ip {
    margin-top: 0px;
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(208, 200, 219);
    padding: 0px;
    /* padding-bottom: 15px; */
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .ip > textarea {
    border: none;
    flex: 1;
    outline-width: 0;
    font-weight: 600;
    background-color: rgb(208, 200, 219);
    resize: none;
  }
  .main-area {
    padding: -10px;
    margin: auto;
  }
  .main-content {
    padding: none;
    display: grid;
  }
  .all-contents {
    display: grid;
    justify-items: center;
  }
  .para {
    order: 2;
    margin: 10px;
    padding: 20px;
    width: 80%;
    background: rgba(20, 20, 21, 0.25);
    border-radius: 10px;
  }
  .content-image {
    order: 1;
    width: 100%;
    height: 100%;
  }
  .avatar-name {
    display: flex;
    justify-content: space-evenly;
  }
  .userName {
    padding-left: 10px;
    padding-right: 10px;
  }
}
