.ip > form {
  display: flex;
  width: 100%;
}
.ip > textarea {
  border: none;
  flex: 1;
  outline-width: 0;
  font-weight: 600;

  resize: none;
}
.ip {
  margin-top: 20px;
  justify-content: space-evenly;
  display: flex;
  background-color: white;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.ip2 {
  display: flex;
}
.ip2 > input {
  border-radius: 5px;
  border: none;

  outline-width: 0;
  font-weight: 600;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.photo {
  margin-left: 5px;
}
.submit {
  /* display: none; */
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(206, 204, 204);
  border: none;
}
.submit:hover {
  background-color: rgb(128, 99, 99);
  box-shadow: 2px 2px 2px 2px #9c7ecc;
}
.post {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 50px;

  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: fit-content;

  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.main-area {
  flex: 0.6;
}

/* *************************************** user post section**************************  */
.main-content {
  padding-top: 25px;

  justify-content: space-between;

  border-radius: 10px;
  background: rgba(20, 20, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.all-contents {
  display: flex;
  padding-top: 25px;
  /* padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px; */
  justify-content: space-between;
}
.image-text {
}
.content-image {
  max-width: 250px;
  max-height: 250px;
  padding-left: 5px;
  border-radius: 10px;
  height: fit-content;
}
.para {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;

  line-break: strict;
}
.userName {
  color: #ebe7e7;
  font-family: "Inter";
  font-style: normal;
  font-weight: 60;
  margin-left: 10px;
}
.avatar-name {
  display: flex;
  align-items: center;
}
